@model KararVM

<a asp-action="ozet" asp-route-id="@Model.DosyaId">Geri</a>
&nbsp;
<a asp-action="kararduzenle" asp-route-id="@Model.DosyaId">Düzenle</a>

<hr />

<h3>Karar Bilgileri</h3>
<div>
    <strong>Karar No</strong>
    &nbsp;
    @Model.KararBilgileri.KararNo
</div>
<div>
    <strong>Karar Tarihi</strong>
    &nbsp;
    @Model.KararBilgileri.KararTarihi
</div>
<div>
    <strong>Tebliğ Tarihi</strong>
    &nbsp;
    @Model.KararBilgileri.TebligTarihi
</div>
<div>
    <strong>Karar Özeti</strong>
    &nbsp;
    @Model.KararBilgileri.KararOzeti
</div>

<hr />

<h3>Bölge Adliye Mahkemesi Bilgileri</h3>
<div>
    <strong>Karar No</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.KararNo
</div>
<div>
    <strong>Karar Tarihi</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.KararTarihi
</div>
<div>
    <strong>Tebliğ Tarihi</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.TebligTarihi
</div>
<div>
    <strong>Karar Özeti</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.KararOzeti
</div>
<div>
    <strong>Mahkeme</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.Mahkeme
</div>
<div>
    <strong>Gönderme Tarihi</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.GondermeTarihi
</div>
<div>
    <strong>Açıklama</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.Aciklama
</div>
<div>
    <strong>Esas No</strong>
    &nbsp;
    @Model.BolgeAdliyeMahkemesiBilgileri.EsasNo
</div>

<hr />

<h3>Temyiz Bilgileri</h3>
<div>
    <strong>Karar No</strong>
    &nbsp;
    @Model.TemyizBilgileri.KararNo
</div>
<div>
    <strong>Karar Tarihi</strong>
    &nbsp;
    @Model.TemyizBilgileri.KararTarihi
</div>
<div>
    <strong>Tebliğ Tarihi</strong>
    &nbsp;
    @Model.TemyizBilgileri.TebligTarihi
</div>
<div>
    <strong>Karar Özeti</strong>
    &nbsp;
    @Model.TemyizBilgileri.KararOzeti
</div>
<div>
    <strong>Mahkeme</strong>
    &nbsp;
    @Model.TemyizBilgileri.Mahkeme
</div>
<div>
    <strong>Gönderme Tarihi</strong>
    &nbsp;
    @Model.TemyizBilgileri.GondermeTarihi
</div>
<div>
    <strong>Açıklama</strong>
    &nbsp;
    @Model.TemyizBilgileri.Aciklama
</div>
<div>
    <strong>Esas No</strong>
    &nbsp;
    @Model.TemyizBilgileri.EsasNo
</div>

<hr />

<h3>Karar Düzeltme Bilgileri</h3>
<div>
    <strong>Karar No</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.KararNo
</div>
<div>
    <strong>Karar Tarihi</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.KararTarihi
</div>
<div>
    <strong>Tebliğ Tarihi</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.TebligTarihi
</div>
<div>
    <strong>Karar Özeti</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.KararOzeti
</div>
<div>
    <strong>Mahkeme</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.Mahkeme
</div>
<div>
    <strong>Gönderme Tarihi</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.GondermeTarihi
</div>
<div>
    <strong>Açıklama</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.Aciklama
</div>
<div>
    <strong>Esas No</strong>
    &nbsp;
    @Model.KararDuzeltmeBilgileri.EsasNo
</div>

<hr />

<h3>Kesinleşme Bilgileri</h3>
<div>
    <strong>Kesinleşme Tarihi</strong>
    &nbsp;
    @Model.KesinlesmeBilgileri.KesinlesmeTarihi
</div>
<div>
    <strong>Karar Özeti</strong>
    &nbsp;
    @Model.KesinlesmeBilgileri.KararOzeti
</div>
