@model KararVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Karar</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="ozet" asp-route-id="@Model.DosyaId"></a>

        @if (User.DosyaYoneticisiMi())
        {
            <a title="Düzenle" class="ibtn2 secondary xxl fa fa-pen-to-square" asp-action="kararduzenle" asp-route-id="@Model.DosyaId"></a>
        }

    </div>

    <h3>Karar Bilgileri</h3>
    <div class="df max600-fdc gap1em">
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar No</span>
                <span class="color-active l text-wrap">@Model.KararBilgileri.KararNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Özeti</span>
                <span class="color-active l text-wrap">@Model.KararBilgileri.KararOzeti</span>
            </div>
        </div>
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Tarihi</span>
                <span class="color-active l text-wrap">@Model.KararBilgileri.KararTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Tebliğ Tarihi</span>
                <span class="color-active l text-wrap">@Model.KararBilgileri.TebligTarihi</span>
            </div>
        </div>
    </div>

    <h3 class="mart2em">Bölge Adliye Mahkemesi Bilgileri</h3>
    <div class="df max600-fdc gap1em">
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar No</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.KararNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Özeti</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.KararOzeti</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Mahkeme</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.Mahkeme</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Esas No</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.EsasNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Açıklama</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.Aciklama</span>
            </div>
        </div>
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Tarihi</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.KararTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Tebliğ Tarihi</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.TebligTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Gönderme Tarihi</span>
                <span class="color-active l text-wrap">@Model.BolgeAdliyeMahkemesiBilgileri.GondermeTarihi</span>
            </div>
        </div>
    </div>

    <h3 class="mart2em">Temyiz Bilgileri</h3>
    <div class="df max600-fdc gap1em">
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar No</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.KararNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Özeti</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.KararOzeti</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Mahkeme</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.Mahkeme</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Esas No</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.EsasNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Açıklama</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.Aciklama</span>
            </div>
        </div>
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Tarihi</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.KararTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Tebliğ Tarihi</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.TebligTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Gönderme Tarihi</span>
                <span class="color-active l text-wrap">@Model.TemyizBilgileri.GondermeTarihi</span>
            </div>
        </div>
    </div>

    <h3 class="mart2em">Karar Düzeltme Bilgileri</h3>
    <div class="df max600-fdc gap1em">
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar No</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.KararNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Özeti</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.KararOzeti</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Mahkeme</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.Mahkeme</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Esas No</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.EsasNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Açıklama</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.Aciklama</span>
            </div>
        </div>
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Tarihi</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.KararTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Tebliğ Tarihi</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.TebligTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Gönderme Tarihi</span>
                <span class="color-active l text-wrap">@Model.KararDuzeltmeBilgileri.GondermeTarihi</span>
            </div>
        </div>
    </div>

    <h3 class="mart2em">Kesinleşme Bilgileri</h3>
    <div class="df max600-fdc gap1em">
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Karar Özeti</span>
                <span class="color-active l text-wrap">@Model.KesinlesmeBilgileri.KararOzeti</span>
            </div>
        </div>
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Kesinleşme Tarihi</span>
                <span class="color-active l text-wrap">@Model.KesinlesmeBilgileri.KesinlesmeTarihi</span>
            </div>
        </div>
    </div>

</div>

