@model OzetVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Dosya</h1>

    <div class="df gap1em marb1rem">
        <a title="Karar Bilgileri" class="ibtn1 alternative xxl fa fa-gavel" asp-action="karar" asp-route-id="@Model.Id"></a>
        <a title="Düzenle" class="ibtn2 secondary xxl fa fa-pen-to-square" asp-action="duzenle" asp-route-id="@Model.Id"></a>
        <a title="Sil" class="ibtn2 danger xxl fa fa-trash-can normal" asp-action="sil" asp-route-id="@Model.Id"></a>
    </div>

    <div class="df max600-fdc gap1em">
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Dosya No</span>
                <span class="color-active l text-wrap">@Model.DosyaNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Büro No</span>
                <span class="color-active l text-wrap">@Model.BuroNo</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Konu</span>
                <span class="color-active l text-wrap">@Model.Konu</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Açıklama</span>
                <span class="color-active l text-wrap">@Model.Aciklama</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Açılış Tarihi</span>
                <span class="color-active l text-wrap">@Model.AcilisTarihi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Oluşturma Tarihi</span>
                <span class="color-active l text-wrap">@Model.OlusturmaTarihi</span>
            </div>
        </div>
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Dosya Türü</span>
                <span class="color-active l text-wrap tag alternative">@Model.DosyaTuru</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Dosya Kategorisi</span>
                <span class="color-active l text-wrap tag alternative">@Model.DosyaKategorisi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Dosya Durumu</span>
                <span class="color-active l text-wrap tag alternative">@Model.DosyaDurumu</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Mahkeme</span>
                <span class="color-active l text-wrap">@Model.Mahkeme</span>
            </div>
        </div>
    </div>

    <div class="mart2rem">
        <div class="df jcsb aic">
            <h3>Taraflar</h3>
            <a class="btn2 success gap05em" asp-action="tarafekle" asp-route-dosyaId="@Model.Id">
                <span class="fa fa-plus color-inherit"></span>
                Ekle
            </a>
        </div>
        <div class="list-container">
            @foreach (var taraf in Model.Taraflar)
            {
                <div class="list-item activator-hover df aic gap1em fwrap">
                    <a class="l color-hover-primary" asp-controller="kisiler" asp-action="ozet" asp-route-id="@taraf.KisiId">@taraf.Isim</a>
                    <span class="tag alternative">@taraf.TarafTuru</span>

                    @if (taraf.KarsiTaraf)
                    {
                        <span class="tag danger">Karşı Taraf</span>
                    }

                    <div class="df aic gap1rem fg jce opacity0 on-activator-hover-opacity100 anim-color max1000-opacity100">
                        <a title="Düzenle" asp-action="tarafduzenle" asp-route-id="@taraf.Id" class="ibtn2 secondary fa-regular fa-pen-to-square"></a>
                        <a title="Sil" asp-action="tarafsil" asp-route-id="@taraf.Id" class="ibtn2 danger normal fa fa-trash-can"></a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mart2rem">
        <div class="df jcsb aic">
            <h3>Sorumlular</h3>
            <a class="btn2 secondary gap05em" asp-action="personelduzenle" asp-route-id="@Model.Id">
                <span class="fa-regular fa-pen-to-square color-inherit"></span>
                Düzenle
            </a>
        </div>
        <div class="df aic fwrap gap1em">
            @foreach (var sorumlu in Model.SorumluPersonel)
            {
                <div class="list-item df aic gap1em">
                    <a class="color-hover-primary" asp-controller="personel" asp-action="profil" asp-route-id="@sorumlu.Id">@sorumlu.TamIsim</a>
                    <span class="tag alternative">@sorumlu.AnaRol</span>
                </div>
            }
        </div>
    </div>

    <div class="mart2rem">
        <div class="df jcsb aic">
            <h3>Bağlantılı Dosyalar</h3>
            <a class="btn2 success gap05em" asp-action="dosyabaglantisiekle" asp-route-dosyaId="@Model.Id">
                <span class="fa fa-plus color-inherit"></span>
                Ekle
            </a>
        </div>
        <div class="list-container">
            @foreach (var baglanti in Model.DosyaBaglantilari)
            {
                <div class="list-item activator-hover df fdc gap05em">
                    <div class="df aic gap1em fwrap">
                        <a class="l color-hover-primary" asp-action="ozet" asp-route-id="@baglanti.IlgiliDosyaId">@baglanti.Dosya</a>
                        <span class="tag alternative">@baglanti.Tur</span>
                        <span class="tag alternative">@baglanti.Kategori</span>
                        <span class="tag alternative">@baglanti.Durum</span>
                        <div class="df aic gap1rem fg jce opacity0 on-activator-hover-opacity100 anim-color max1000-opacity100">
                            <a title="Düzenle" asp-action="dosyabaglantisiduzenle" asp-route-id="@baglanti.Id" class="ibtn2 secondary fa-regular fa-pen-to-square"></a>
                            <a title="Sil" asp-action="dosyabaglantisisil" asp-route-id="@baglanti.Id" class="ibtn2 danger normal fa fa-trash-can"></a>
                        </div>
                    </div>
                    <div class="df fdc">
                        <span class="bold">Açıklama</span>
                        <span class="text-wrap">@baglanti.Aciklama</span>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mart2rem">
        <div class="df jcsb aic">
            <h3>Duruşmalar</h3>
            <a class="btn2 success gap05em" asp-action="durusmaekle" asp-route-id="@Model.Id">
                <span class="fa fa-plus color-inherit"></span>
                Ekle
            </a>
        </div>
        <div class="list-container">

            @foreach (var durusma in Model.Durusmalar)
            {
                <div class="list-item activator-hover df fdc gap05em">
                    <div class="df aic gap1em fwrap">
                        <span>
                            <span class="">Tarih:</span>
                            <span class="bold">@durusma.Tarih</span>
                        </span>

                        @if (durusma.Tamamlandi)
                        {
                            <span class="tag success">Tamamlandı</span>
                        }

                        <span class="tag alternative">@durusma.AktiviteTuru</span>
                        <div class="df aic gap1rem fg jce opacity0 on-activator-hover-opacity100 anim-color max1000-opacity100">
                            <a title="Düzenle" asp-action="durusmaduzenle" asp-route-id="@durusma.Id" class="ibtn2 secondary fa-regular fa-pen-to-square"></a>
                            <a title="Sil" asp-action="durusmasil" asp-route-id="@durusma.Id" class="ibtn2 danger normal fa fa-trash-can"></a>
                        </div>
                    </div>
                    <div class="df fdc">
                        <span class="bold">Açıklama</span>
                        <span class="text-wrap">@durusma.Aciklama</span>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="mart2rem">
        <div class="df jcsb aic">
            <h3>Belgeler</h3>
            <a class="btn2 success gap05em" asp-action="belgeekle" asp-route-id="@Model.Id">
                <span class="fa fa-plus color-inherit"></span>
                Ekle
            </a>
        </div>
        <div class="list-container">

            @foreach (var belge in Model.Belgeler)
            {
                <div class="list-item activator-hover df fdc gap05em">
                    <div class="df aic gap1em fwrap">
                        <span class="tag primary">@belge.Uzanti</span>
                        <span class="tag secondary">@belge.Boyut</span>
                        <a href="@belge.Url" class="bold l color-hover-primary" target="_blank">@belge.Baslik</a>
                        <span class="s">@belge.Tarih</span>
                        <div class="df aic gap1rem fg jce opacity0 on-activator-hover-opacity100 anim-color max1000-opacity100">
                            <a title="Belge" target="_blank" href="@belge.Url" class="ibtn1 primary fa fa-file normal"></a>
                            <a title="Düzenle" asp-action="belgeduzenle" asp-route-id="@belge.Id" class="ibtn2 secondary fa-regular fa-pen-to-square"></a>
                            <a title="Sil" asp-action="belgesil" asp-route-id="@belge.Id" class="ibtn2 danger normal fa fa-trash-can"></a>
                        </div>
                    </div>
                    <div class="df fdc">
                        <span class="bold">Açıklama</span>
                        <span class="text-wrap">@belge.Aciklama</span>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

