@model OzetVM

<a asp-action="listele">Geri</a>
&nbsp;
<a asp-action="duzenle" asp-route-id="@Model.Id">Düzenle</a>
&nbsp;
<a asp-action="sil" asp-route-id="@Model.Id">Sil</a>

<hr />

<div>
    <strong>Dosya No:</strong>
    &nbsp;
    @Model.DosyaNo
</div>

<div>
    <strong>Büro No:</strong>
    &nbsp;
    @Model.BuroNo
</div>

<div>
    <strong>Konu:</strong>
    &nbsp;
    @Model.Konu
</div>

<div>
    <strong>Açıklama:</strong>
    &nbsp;
    @Model.Aciklama
</div>

<div>
    <strong>Tür:</strong>
    &nbsp;
    @Model.DosyaTuru
</div>

<div>
    <strong>Kategori:</strong>
    &nbsp;
    @Model.DosyaKategorisi
</div>

<div>
    <strong>Durum:</strong>
    &nbsp;
    @Model.DosyaDurumu
</div>

<div>
    <strong>Mahkeme:</strong>
    &nbsp;
    @Model.Mahkeme
</div>

<div>
    <strong>Açılış Tarihi:</strong>
    &nbsp;
    @Model.AcilisTarihi
</div>

<hr />

<h2>Taraflar</h2>
&nbsp;
<a asp-action="TarafEkle" asp-route-dosyaId="@Model.Id">Yeni taraf ekle</a>

@if (Model.MuvekkilTaraf.Count > 0)
{
    <div>
        <h3>Müvekkil Taraf</h3>

        @foreach (var taraf in Model.MuvekkilTaraf)
        {
            <div>
                <span>@taraf.Isim (@taraf.TarafTuru)&nbsp;</span>

                <a asp-action="TarafDuzenle" asp-route-id="@taraf.Id">Düzenle&nbsp;</a>
                <a asp-action="TarafSil" asp-route-id="@taraf.Id">Sil</a>
            </div>
        }
    </div>
}

@if (Model.KarsiTaraf.Count > 0)
{
    <div>
        <h3>Karşı Taraf</h3>

        @foreach (var taraf in Model.KarsiTaraf)
        {
            <div>
                <span>@taraf.Isim (@taraf.TarafTuru)&nbsp;</span>

                <a asp-action="TarafDuzenle" asp-route-id="@taraf.Id">Düzenle&nbsp;</a>
                <a asp-action="TarafSil" asp-route-id="@taraf.Id">Sil</a>
            </div>
        }
    </div>
}


<hr />

<h2>Sorumlu Personel</h2>
&nbsp;
<a asp-action="personelduzenle" asp-route-id="@Model.Id">Düzenle</a>

@foreach (var p in Model.SorumluPersonel)
{
    <div>
        <strong>@p.TamIsim</strong> (@p.AnaRol)
    </div>
}


<hr />

<h2>Bağlantılı Dosyalar</h2>
&nbsp;

<a asp-action="dosyabaglantisiekle" asp-route-dosyaId="@Model.Id">Yeni bağlantı ekle</a>

@foreach (var baglanti in Model.DosyaBaglantilari)
{
    <div>
        <a asp-action="ozet" asp-route-id="@baglanti.IlgiliDosyaId">
            @baglanti.DosyaNo
            &nbsp;
            @baglanti.BuroNo
            &nbsp;
            @baglanti.Konu
        </a>

        &nbsp;

        <a asp-action="dosyabaglantisiduzenle" asp-route-id="@baglanti.Id">Düzenle</a>
        <a asp-action="dosyabaglantisisil" asp-route-id="@baglanti.Id">Sil</a>
    </div>
}
