@model DuzenleVM

<a asp-action="listele">Geri</a>

<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" hidden />

    <div>
        <label asp-for="Miktar"></label>
        <input asp-for="Miktar" />
        <span asp-validation-for="Miktar"></span>
    </div>

    <div>
        <label asp-for="IslemTuru"></label>
        <select asp-for="IslemTuru" asp-items="@Html.GetEnumSelectList<IslemTuru>()"></select>
        <span asp-validation-for="IslemTuru"></span>
    </div>

    <div>
        <label asp-for="Odendi"></label>
        <input asp-for="Odendi" />
        <span asp-validation-for="Odendi"></span>
    </div>

    <div>
        <label asp-for="SonOdemeTarhi"></label>
        <input asp-for="SonOdemeTarhi" />
        <span asp-validation-for="SonOdemeTarhi"></span>
    </div>

    <div>
        <label asp-for="OdemeTarhi"></label>
        <input asp-for="OdemeTarhi" />
        <span asp-validation-for="OdemeTarhi"></span>
    </div>

    <div>
        <label asp-for="MakbuzKesildiMi"></label>
        <input asp-for="MakbuzKesildiMi" />
        <span asp-validation-for="MakbuzKesildiMi"></span>
    </div>

    <div>
        <label asp-for="MakbuzNo"></label>
        <input asp-for="MakbuzNo" />
        <span asp-validation-for="MakbuzNo"></span>
    </div>

    <div>
        <label asp-for="MakbuzTarihi"></label>
        <input asp-for="MakbuzTarihi" />
        <span asp-validation-for="MakbuzTarihi"></span>
    </div>

    <div>
        <label asp-for="IslemYapanId"></label>
        <select asp-for="IslemYapanId" asp-items="@Model.Personel"></select>
        <span asp-validation-for="IslemYapanId"></span>
    </div>

    <div>
        <label asp-for="KisiBaglantisiVar"></label>
        <input asp-for="KisiBaglantisiVar" />
        <span asp-validation-for="KisiBaglantisiVar"></span>
    </div>

    <div>
        <label asp-for="KisiId"></label>
        <select asp-for="KisiId" asp-items="@Model.Kisiler"></select>
        <span asp-validation-for="KisiId"></span>
    </div>

    <div>
        <label asp-for="DosyaBaglantisiVar"></label>
        <input asp-for="DosyaBaglantisiVar" />
        <span asp-validation-for="DosyaBaglantisiVar"></span>
    </div>

    <div>
        <label asp-for="DosyaId"></label>
        <select asp-for="DosyaId" asp-items="@Model.Dosyalar"></select>
        <span asp-validation-for="DosyaId"></span>
    </div>

    <div>
        <label asp-for="PersonelBaglantisiVar"></label>
        <input asp-for="PersonelBaglantisiVar" />
        <span asp-validation-for="PersonelBaglantisiVar"></span>
    </div>

    <div>
        <label asp-for="PersonelId"></label>
        <select asp-for="PersonelId" asp-items="@Model.Personel"></select>
        <span asp-validation-for="PersonelId"></span>
    </div>

    <div>
        <label asp-for="Aciklama"></label>
        <input asp-for="Aciklama" />
        <span asp-validation-for="Aciklama"></span>
    </div>

    <button type="submit">Tamam</button>
</form>
