@model EkleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Finans İşlemi Ekle</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="listele"></a>
    </div>

    <form method="post" class="df fdc gap1em">
        <div asp-validation-summary="ModelOnly" class="color-danger color-inherit-children"></div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Miktar"></label>
            <input class="input l" asp-for="Miktar" />
            <span class="color-danger text-right" asp-validation-for="Miktar"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="IslemTuru"></label>
            <select class="input l" asp-for="IslemTuru" asp-items="@Html.GetEnumSelectList<IslemTuru>()"></select>
            <span class="color-danger text-right" asp-validation-for="IslemTuru"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="IslemYapanId"></label>
            <select class="input l" asp-for="IslemYapanId" asp-items="@Model.Personel"></select>
            <span class="color-danger text-right" asp-validation-for="IslemYapanId"></span>
        </div>

        <div class="input-box pad1rem df fdc">
            <label class="checkbox l">
                <input type="checkbox" id="dosya-baglantisi" asp-for="DosyaBaglantisiVar" />
                <span class="checkbox-box">
                    <span class="checkbox-mark"></span>
                </span>
                Dosya bağlantısı var
            </label>
            <span class="color-danger text-right" asp-validation-for="DosyaBaglantisiVar"></span>
        </div>

        <div class="input-box df fdc" id="dosya-input">
            <label class="s color-inactive" asp-for="DosyaId"></label>
            <select class="input l" asp-for="DosyaId" asp-items="@Model.Dosyalar"></select>
            <span class="color-danger text-right" asp-validation-for="DosyaId"></span>
        </div>

        <div class="input-box pad1rem df fdc">
            <label class="checkbox l">
                <input type="checkbox" id="kisi-baglantisi" asp-for="KisiBaglantisiVar" />
                <span class="checkbox-box">
                    <span class="checkbox-mark"></span>
                </span>
                Kişi bağlantısı var
            </label>
            <span class="color-danger text-right" asp-validation-for="KisiBaglantisiVar"></span>
        </div>

        <div class="input-box df fdc" id="kisi-input">
            <label class="s color-inactive" asp-for="KisiId"></label>
            <select class="input l" asp-for="KisiId" asp-items="@Model.Kisiler"></select>
            <span class="color-danger text-right" asp-validation-for="KisiId"></span>
        </div>

        <div class="input-box pad1rem df fdc">
            <label class="checkbox l">
                <input type="checkbox" id="personel-baglantisi" asp-for="PersonelBaglantisiVar" />
                <span class="checkbox-box">
                    <span class="checkbox-mark"></span>
                </span>
                Personel bağlantısı var
            </label>
            <span class="color-danger text-right" asp-validation-for="PersonelBaglantisiVar"></span>
        </div>

        <div class="input-box df fdc" id="personel-input">
            <label class="s color-inactive" asp-for="PersonelId">Personel</label>
            <select class="input l" asp-for="PersonelId" asp-items="@Model.Personel"></select>
            <span class="color-danger text-right" asp-validation-for="PersonelId"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Aciklama"></label>
            <textarea class="input l" rows="2" asp-for="Aciklama"></textarea>
            <span class="color-danger text-right" asp-validation-for="Aciklama"></span>
        </div>

        <div class="input-box pad1rem df fdc">
            <label class="checkbox l">
                <input type="checkbox" id="odendi" asp-for="Odendi" />
                <span class="checkbox-box">
                    <span class="checkbox-mark"></span>
                </span>
                Ödendi
            </label>
            <span class="color-danger text-right" asp-validation-for="Odendi"></span>
        </div>

        <div class="input-box df fdc" id="odeme-tarihi-input">
            <label class="s color-inactive" asp-for="OdemeTarhi"></label>
            <input class="input l" asp-for="OdemeTarhi" />
            <span class="color-danger text-right" asp-validation-for="OdemeTarhi"></span>
        </div>

        <div class="input-box df fdc" id="son-odeme-tarihi-input">
            <label class="s color-inactive" asp-for="SonOdemeTarhi"></label>
            <input class="input l" asp-for="SonOdemeTarhi" />
            <span class="color-danger text-right" asp-validation-for="SonOdemeTarhi"></span>
        </div>

        <div class="input-box pad1rem df fdc" id="makbuz-kesildi-input">
            <label class="checkbox l">
                <input type="checkbox" id="makbuz-kesildi" asp-for="MakbuzKesildiMi" />
                <span class="checkbox-box">
                    <span class="checkbox-mark"></span>
                </span>
                Makbuz kesildi
            </label>
            <span class="color-danger text-right" asp-validation-for="MakbuzKesildiMi"></span>
        </div>

        <div class="input-box df fdc" id="makbuz-no-input">
            <label class="s color-inactive" asp-for="MakbuzNo"></label>
            <input class="input l" asp-for="MakbuzNo" />
            <span class="color-danger text-right" asp-validation-for="MakbuzNo"></span>
        </div>

        <div class="input-box df fdc" id="makbuz-tarihi-input">
            <label class="s color-inactive" asp-for="MakbuzTarihi"></label>
            <input class="input l" asp-for="MakbuzTarihi" />
            <span class="color-danger text-right" asp-validation-for="MakbuzTarihi"></span>
        </div>

        <button class="btn1 primary xl padv05em mart05em" type="submit">Tamam</button>
    </form>

    <script src="~/js/finansislemiform.js"></script>
</div>

