@model ListeleVM


<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Finans İşlemleri</h1>

    <div class="df jcsb panel1 pad1em max800-fdc gap50p max800-gap1rem">
        <a asp-action="ekle" class="btn2 success gap05em">
            <span class="fa fa-plus color-inherit"></span>
            <span class="color-inherit max400-hidden">Yeni işlem ekle</span>
        </a>

        <partial name="_Arama" model="@Model" />
    </div>

    <div class="list-container mart1em">

        @foreach (var islem in Model.Ogeler)
        {
            <div class="list-item activator-hover df fdc gap1em">
                <div class="df aic gap1em fwrap">
                    <span class="l bold">@islem.Miktar</span>
                    <span class="tag alternative">@islem.IslemTuru.DisplayName()</span>

                    @if (islem.Odendi)
                    {
                        <span class="tag success">Ödendi</span>

                        @if (islem.MakbuzKesildi)
                        {
                            <span class="tag success">Makbuz kesildi</span>
                        }
                        else
                        {
                            <span class="tag danger">Makbuz kesilmedi</span>
                        }
                    }
                    else
                    {
                        <span class="tag danger">Ödenmedi</span>
                    }

                    <div class="df fg gap05em jce ais xl opacity0 max1000-opacity100 on-activator-hover-opacity100 anim-color max500-jcse">
                        <a asp-action="duzenle" asp-route-id="@islem.Id" class="ibtn2 secondary fa-regular fa-pen-to-square"></a>
                        <a asp-action="sil" asp-route-id="@islem.Id" class="ibtn2 danger normal fa fa-trash-can"></a>
                    </div>
                </div>
                <div class="df aic gap1em fwrap">

                    @if (islem.Odendi)
                    {
                        <div>
                            <span class="bold">Ödeme Tarihi:</span>
                            <span>@islem.OdemeTarihi</span>
                        </div>

                        @if (islem.MakbuzKesildi)
                        {
                            <div>
                                <span class="bold">Makbuz No:</span>
                                <span>@islem.MakbuzNo</span>
                            </div>

                            <div>
                                <span class="bold">Makbuz Tarihi:</span>
                                <span>@islem.MakbuzTarihi</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <span class="bold">Son Ödeme Tarihi:</span>
                            <span>@islem.SonOdemeTarihi</span>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(islem.IslemYapan))
                    {
                        <div>
                            <span class="bold">İşlem Yapan:</span>
                            <a asp-controller="personel" asp-action="profil" asp-route-id="@islem.IslemYapanId" class="color-hover-primary">@islem.IslemYapan</a>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(islem.Dosya))
                    {
                        <div>
                            <span class="bold">Dosya Bağlantısı:</span>
                            <a asp-controller="dosya" asp-action="ozet" asp-route-id="@islem.DosyaId" class="color-hover-primary">@islem.Dosya</a>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(islem.Kisi))
                    {
                        <div>
                            <span class="bold">Kişi Bağlantısı:</span>
                            <a asp-controller="kisiler" asp-action="ozet" asp-route-id="@islem.KisiId" class="color-hover-primary">@islem.Kisi</a>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(islem.Personel))
                    {
                        <div>
                            <span class="bold">Personel Bağlantısı:</span>
                            <a asp-controller="personel" asp-action="profil" asp-route-id="@islem.PersonelId" class="color-hover-primary">@islem.IslemYapan</a>
                        </div>
                    }

                    <div class="max600-hidden">
                        <span class="bold">Açıklama:</span>
                        <span class="text-wrap">@islem.Aciklama</span>
                    </div>
                </div>
            </div>
        }

    </div>

    <partial name="_Sayfa" model="@Model" />
</div>


