@model SilVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Randevu Sil</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="listele"></a>
    </div>

    <div class="df max600-fdc gap1em">
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Konu</span>
                <span class="color-active l text-wrap">@Model.Konu</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Açıklama</span>
                <span class="color-active l text-wrap">@Model.Aciklama</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Tarih</span>
                <span class="color-active l text-wrap">@Model.Tarih</span>
            </div>
        </div>
        <div class="df fdc fg gap1em w50p max600-w100p">
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Kişi</span>
                <span class="color-active l text-wrap">@Model.Kisi</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Sorumlu</span>
                <span class="color-active l text-wrap">@Model.Sorumlu</span>
            </div>
            <div class="input-box pad08em df fwrap">
                <span class="color-inactive">Tamamlandı mı?</span>

                @if (Model.TamamlandiMi)
                {
                    <span class="tag success">Evet</span>
                }
                else
                {
                    <span class="tag danger">Hayır</span>
                }

            </div>
        </div>
    </div>

    <form class="w100p df fdc jce fg" method="post">
        <input asp-for="Id" hidden />
        <button class="btn1 xxl danger w100p mart1em" type="submit">Sil</button>
    </form>

</div>

