@model EkleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Görev Ekle</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="listele"></a>
    </div>

    <form method="post" class="df fdc gap1em">
        <div class="color-danger color-inherit-children" asp-validation-summary="ModelOnly"></div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Konu"></label>
            <input class="input l" asp-for="Konu" />
            <span class="color-danger text-right" asp-validation-for="Konu"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="BaglantiTuru"></label>
            <select class="input l" id="baglanti" asp-for="BaglantiTuru" asp-items="@Html.GetEnumSelectList<BaglantiTuru>()"></select>
            <span class="color-danger text-right" asp-validation-for="BaglantiTuru"></span>
        </div>

        <div class="input-box df fdc" id="kisi-input">
            <label class="s color-inactive" asp-for="KisiId"></label>
            <select class="input l" asp-for="KisiId" asp-items="@Model.Kisiler"></select>
            <span class="color-danger text-right" asp-validation-for="KisiId"></span>
        </div>

        <div class="input-box df fdc" id="dosya-input">
            <label class="s color-inactive" asp-for="DosyaId"></label>
            <select class="input l" asp-for="DosyaId" asp-items="@Model.Dosyalar"></select>
            <span class="color-danger text-right" asp-validation-for="DosyaId"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="SorumluId"></label>
            <select class="input l" asp-for="SorumluId" asp-items="@Model.Personel"></select>
            <span class="color-danger text-right" asp-validation-for="SorumluId"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="BitisTarihi"></label>
            <input class="input l" asp-for="BitisTarihi" />
            <span class="color-danger text-right" asp-validation-for="BitisTarihi"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Aciklama"></label>
            <textarea class="input l" rows="2" asp-for="Aciklama"></textarea>
            <span class="color-danger text-right" asp-validation-for="Aciklama"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="DurumId"></label>
            <select class="input l" asp-for="DurumId" asp-items="@Model.Durumlar"></select>
            <span class="color-danger text-right" asp-validation-for="DurumId"></span>
        </div>

        <button class="btn1 primary xl padv05em mart05em" type="submit">Tamam</button>
    </form>

    <script src="~/js/gorevform.js"></script>
</div>

