@model ListeleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Görevler</h1>

    <div class="df jcsb panel1 pad1em max800-fdc gap50p max800-gap1rem">

        @if (User.GorevYoneticisiMi())
        {
            <a asp-action="ekle" class="btn2 success gap05em">
                <span class="fa fa-plus color-inherit"></span>
                <span class="color-inherit max400-hidden">Yeni görev ekle</span>
            </a>
        }
        else
        {
            <span></span>
        }

        <partial name="_Arama" model="@Model" />
    </div>

    <div class="list-container mart1em">

        @foreach (var gorev in Model.Ogeler)
        {
            <div class="list-item activator-hover df fdc gap1em">

                <div class="df jcsb max500-fdcr max500-gap05rem">
                    <div class="df fwrap gap1em aic">
                        <span class="color-active bold l">@gorev.Konu</span>
                        <span class="tag alternative">@gorev.BaglantiTuru</span>

                        @{
                            var durumClass = gorev.Durum switch
                            {
                                Sabit.GorevDurumu.Iptal => "danger",
                                Sabit.GorevDurumu.DevamEdiyor => "warning",
                                Sabit.GorevDurumu.Tamamlandi => "success",
                                _ => string.Empty
                            };
                        }

                        @if (durumClass != string.Empty)
                        {
                            <span class="tag @durumClass">@gorev.Durum</span>
                        }

                    </div>

                    <div class="df gap05em ais xl opacity0 max1000-opacity100 on-activator-hover-opacity100 anim-color max500-jcse">

                        @if (gorev.KisiId != null)
                        {
                            <a title="Kişiye Git" asp-controller="Kisiler" asp-action="ozet" asp-route-id="@gorev.KisiId" class="ibtn1 primary fa fa-user normal"></a>
                        }
                        else if (gorev.DosyaId != null)
                        {
                            <a title="Dosyaya Git" asp-controller="Dosya" asp-action="ozet" asp-route-id="@gorev.DosyaId" class="ibtn1 primary fa fa-folder normal"></a>
                        }

                        @if (User.KisiYoneticisiMi())
                        {
                            <a title="Düzenle" asp-action="duzenle" asp-route-id="@gorev.Id" class="ibtn2 secondary fa-regular fa-pen-to-square"></a>
                            <a title="Sil" asp-action="sil" asp-route-id="@gorev.Id" class="ibtn2 danger normal fa fa-trash-can"></a>
                        }

                    </div>
                </div>

                <div class="df aic fwrap gap1em">

                    @if (gorev.KisiId != null)
                    {
                        <div>
                            <span class="bold">Kişi:</span>
                            <a class="color-hover-primary" asp-controller="Kisiler" asp-action="ozet" asp-route-id="@gorev.KisiId">@gorev.KisiIsmi</a>
                        </div>
                    }
                    else if (gorev.DosyaId != null)
                    {
                        <div>
                            <span class="bold">Dosya:</span>
                            <a class="color-hover-primary" asp-controller="dosya" asp-action="ozet" asp-route-id="@gorev.DosyaId">@gorev.DosyaId</a>
                        </div>
                    }

                    @if (gorev.SorumluId != null)
                    {
                        <div>
                            <span class="bold">Sorumlu:</span>
                            <a class="color-hover-primary" asp-controller="personel" asp-action="profil" asp-route-id="@gorev.SorumluId">@gorev.SorumluIsmi</a>
                        </div>
                    }

                    <div>
                        <span class="bold">Bitiş Tarihi: </span>
                        <span>@gorev.BitisTarihi</span>
                    </div>
                    <div>
                        <span class="bold">Oluşturma Tarihi: </span>
                        <span>@gorev.OlusturmaTarihi</span>
                    </div>
                </div>

                @if (!string.IsNullOrWhiteSpace(@gorev.Aciklama))
                {
                    <div class="df aic fwrap gap05em">
                        <span class="bold">Açıklama:</span>
                        <span class="text-wrap">@gorev.Aciklama</span>
                    </div>
                }


            </div>
        }

    </div>

    <partial name="_Sayfa" model="@Model" />
</div>



