@model BildirimListeleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Bildirimler</h1>

    @if (Model.Ogeler.Count > 0)
    {
        <form method="post" asp-action="bildirimleritemizle">
            <button class="xl btn2 danger" type="submit">Temizle</button>
        </form>
    }
    else
    {
        <p>Yeni bildirim yok.</p>
    }


    <div class="list-container mart1em">

        @foreach (var bildirim in Model.Ogeler)
        {
            @if (!bildirim.Okundu)
            {
                <div class="list-item activator-hover df border2-alternative fwrap gap1em aic">
                    <span class="fa fa-bell xl color-alternative"></span>
                    <span title="@bildirim.Tarih" class="l fg text-wrap">@bildirim.Mesaj</span>

                    @if (!string.IsNullOrWhiteSpace(bildirim.Url))
                    {
                        <a title="Bağlantıya git" href="@bildirim.Url" class="ibtn1 primary fa fa-link"></a>
                    }

                </div>
            }
            else
            {
                <div class="list-item activator-hover df fwrap gap1em aic">
                    <span title="@bildirim.Tarih" class="l fg text-wrap">@bildirim.Mesaj</span>

                    @if (!string.IsNullOrWhiteSpace(bildirim.Url))
                    {
                        <a title="Bağlantıya git" href="@bildirim.Url" class="ibtn1 primary fa fa-link"></a>
                    }

                </div>
            }
        }

    </div>

    <partial name="_Sayfa" model="@Model" />
</div>
