@model OzetVM

<a asp-action="listele">Geri</a>

<hr />

<div>
    <img src="@Model.FotoUrl" width="64" height="64" />
    &nbsp;
    <strong>@Model.TamIsim</strong>
    &nbsp;
    (@Model.Anarol)
</div>
<div>
    Email:
    &nbsp;
    @Model.Email
</div>
<div>
    <small>İlgili Finans: @Model.IlgiliFinansIslemiSayisi</small>
    &nbsp;
    <small>Sorumlu Finans: @Model.SorumluFinansIslemiSayisi</small>
    &nbsp;
    <small>Sorumlu Dosya: @Model.SorumluDosyaSayisi</small>
    &nbsp;
    <small>Sorumlu Görev: @Model.SorumluGorevSayisi</small>
    &nbsp;
    <small>Sorumlu Randevu: @Model.SorumluRandevuSayisi</small>
</div>

<form method="post">
    <input asp-for="Id" hidden />
    <button type="submit">Sil</button>
</form>
