@model ListeleVM

<a asp-action="ekle">Yeni duyuru ekle</a>
&nbsp;
<partial name="_Arama" model="@Model" />

@foreach (var oge in Model.Ogeler)
{
    <hr />

    <div>
        <div>
            <strong>@oge.Konu</strong>
        </div>
        <div>
            @oge.Mesaj
        </div>
        <div>
            @oge.Tarih.ToString()
        </div>

        <div>
            @if (!string.IsNullOrWhiteSpace(oge.Url))
            {
                <a href="@oge.Url">Göster</a>
                <span>&nbsp;</span>
            }

            <a asp-action="duzenle" asp-route-id="@oge.Id">Düzenle</a>
            &nbsp;
            <a asp-action="sil" asp-route-id="@oge.Id">Sil</a>
        </div>


    </div>
}

<hr />
<partial name="_Sayfa" model="@Model" />
